<widget id="com.example.capture" version="0.0.1">
        <name>Capture</name>
        <description>
            A sample Apache Cordova application that responds to the deviceready event.
        </description>
        <author email="dev@callback.apache.org" href="http://phonegap.com">
            Apache Cordova Team
        </author>
        <content src="index.html" />
        <access origin="*" />
		<feature name="Camera">
		<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
		</feature>
		<feature name="Notification">
		<param name="android-package" value="org.apache.cordova.dialogs.Notification" />
		</feature>
		<feature name="Vibration">
		<param name="android-package" value="org.apache.cordova.vibration.Vibration" />
		</feature>
		<feature name="File">
		<param name="android-package" value="org.apache.cordova.file.FileUtils" />
		</feature>
		<feature name="Capture">
		<param name="android-package" value="org.apache.cordova.mediacapture.Capture" />
		</feature>
		<feature>
		<param name = "android-package" value="org.apache.cordova.InAppBrowser.Window.Open"/>
		</feature>

		<plugin name = "org.apache.cordova.camera"/>
		<plugin name = "org.apache.cordova.dialogs"/>
		<plugin name = "org.apache.cordova.vibration"/>
		<plugin name = "org.apache.cordova.file"/>
		<plugin name = "org.apache.cordova.media-capture"/>
		<plugin name = "InAppBrowser" value="org.apache.cordova.InAppBrowser"/>
    </widget>